
.idea/-algorithms_2021.iml
.idea/.name
.idea/dataSources.local.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Урок 1. Практическое задание/O_notation.xlsx
Урок 1. Практическое задание/~$O_notation.xlsx
Урок 1. Практическое задание/Материалы преподавателя.rar
Урок 1. Практическое задание/Материалы преподавателя/~$НСПЕКТ_Урок_1.docx
Урок 1. Практическое задание/Материалы преподавателя/~$ожности операций 1.docx
Урок 1. Практическое задание/Материалы преподавателя/~$ожности операций 2.docx
Урок 1. Практическое задание/Материалы преподавателя/~$ожности операций 3.docx
Урок 1. Практическое задание/Материалы преподавателя/~$Презентация 1. Алгоритмы и структуры данных на Python. Базовый курс. Введение в алгоритмизацию и реализация простых алгоритмов на Python.pptx
Урок 1. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_1.docx
Урок 1. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_1.pptx
Урок 1. Практическое задание/Материалы преподавателя/Сложности операций 1.docx
Урок 1. Практическое задание/Материалы преподавателя/Сложности операций 2.docx
Урок 1. Практическое задание/Материалы преподавателя/Сложности операций 3.docx
Урок 2. Практическое задание/Материалы преподавателя.rar
Урок 2. Практическое задание/Материалы преподавателя/~$НСПЕКТ_Урок_2.docx
Урок 2. Практическое задание/Материалы преподавателя/~$Презентация 2. Алгоритмы и структуры данных на Python. Базовый курс. Циклы. Рекурсия. Функции.pptx
Урок 2. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_2.docx
Урок 2. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_2.pptx
Урок 2. Практическое задание/Урок 2. Коды примеров.rar
Урок 2. Практическое задание/Урок 2. Коды примеров/.idea/inspectionProfiles/profiles_settings.xml
Урок 2. Практическое задание/Урок 2. Коды примеров/.idea/misc.xml
Урок 2. Практическое задание/Урок 2. Коды примеров/.idea/modules.xml
Урок 2. Практическое задание/Урок 2. Коды примеров/.idea/workspace.xml
Урок 2. Практическое задание/Урок 2. Коды примеров/.idea/Урок 2. Коды примеров.iml
Урок 2. Практическое задание/Урок 2. Коды примеров/task_1.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_2.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_3.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_4.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_5/__pycache__/stack.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_5/stack.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_5/task_5.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_6.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_7.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__init__.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__pycache__/__init__.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__pycache__/admin.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__pycache__/models.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__pycache__/urls.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/__pycache__/views.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/admin.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/apps.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/categories.json
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/context_processors.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/management/commands/__pycache__/seed_db.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/management/commands/seed_db.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/0001_initial.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/0002_auto_20190215_0112.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/0003_auto_20190215_1709.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/0004_auto_20190215_1711.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/0005_auto_20190222_0314.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__init__.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/0001_initial.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/0002_auto_20190215_0112.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/0003_auto_20190215_1709.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/0004_auto_20190215_1711.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/0005_auto_20190222_0314.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/migrations/__pycache__/__init__.cpython-37.pyc
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/models.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/products.json
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/categories_menu.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/contact.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/index.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/layout.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/menu.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/product.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/templates/mainapp/products.html
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/tests.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/urls.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/mainapp/views.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_8/task_8.py
Урок 2. Практическое задание/Урок 2. Коды примеров/task_9.py
Урок 3. Практическое задание/lesson3_2.db
Урок 3. Практическое задание/Материалы преподавателя.rar
Урок 3. Практическое задание/Материалы преподавателя/~$Презентация 3. Алгоритмы и структуры данных на Python. Базовый курс. Хеш-функции.pptx
Урок 3. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_3.docx
Урок 3. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_3.pptx
Урок 4. Практическое задание/Материалы преподавателя.rar
Урок 4. Практическое задание/Материалы преподавателя/~WRL0588.tmp
Урок 4. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_4.docx
Урок 4. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_4.pptx
Урок 4. Практическое задание/Урок 4. Коды примеров.rar
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/encodings.xml
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/Exp8.iml
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/inspectionProfiles/Project_Default.xml
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/misc.xml
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/modules.xml
Урок 4. Практическое задание/Урок 4. Коды примеров/.idea/workspace.xml
Урок 4. Практическое задание/Урок 4. Коды примеров/__pycache__/task_4.cpython-39.pyc
Урок 4. Практическое задание/Урок 4. Коды примеров/task_1.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_10.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_11.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_2.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_3.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_4.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_5.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_6.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_7.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_8.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_9/fibo_cycle.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_9/fibo_recur.py
Урок 4. Практическое задание/Урок 4. Коды примеров/task_9/fibo_recur_memo.py
Урок 5. Практическое задание/Материалы преподавателя.rar
Урок 5. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_5.docx
Урок 5. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_5.pptx
Урок 5. Практическое задание/Урок 5. Коды примеров.rar
Урок 5. Практическое задание/Урок 5. Коды примеров/.idea/inspectionProfiles/profiles_settings.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/.idea/misc.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/.idea/modules.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/.idea/workspace.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/.idea/Урок 5. Коды примеров.iml
Урок 5. Практическое задание/Урок 5. Коды примеров/ChainMap_ex/task_11.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Counter_ex/task_1.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Counter_ex/task_2/onegin.txt
Урок 5. Практическое задание/Урок 5. Коды примеров/Counter_ex/task_2/task_2.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Counter_ex/task_3/mtsuri.txt
Урок 5. Практическое задание/Урок 5. Коды примеров/Counter_ex/task_3/task_3.py
Урок 5. Практическое задание/Урок 5. Коды примеров/DefaultDict_ex/task_4.py
Урок 5. Практическое задание/Урок 5. Коды примеров/DefaultDict_ex/task_5.py
Урок 5. Практическое задание/Урок 5. Коды примеров/DefaultDict_ex/task_6.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Deque_ex/task_8.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Deque_ex/task_9.py
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/.idea/inspectionProfiles/profiles_settings.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/.idea/misc.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/.idea/modules.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/.idea/Namedtuple_ex.iml
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/.idea/workspace.xml
Урок 5. Практическое задание/Урок 5. Коды примеров/Namedtuple_ex/task_10.py
Урок 5. Практическое задание/Урок 5. Коды примеров/OrderedDict_ex/task_7.py
Урок 5. Практическое задание/Урок 5. Коды примеров/В помощь к ДЗ/complex1.py
Урок 5. Практическое задание/Урок 5. Коды примеров/В помощь к ДЗ/complex2.py
Урок 5. Практическое задание/Урок 5. Коды примеров/В помощь к ДЗ/complex3.py
Урок 6. Практическое задание/1-1.py
Урок 6. Практическое задание/1-2.py
Урок 6. Практическое задание/1-3.py
Урок 6. Практическое задание/webinar_92468478311_0.MP4
Урок 6. Практическое задание/Материалы преподавателя.rar
Урок 6. Практическое задание/Материалы преподавателя/~$НСПЕКТ_Урок_6.docx
Урок 6. Практическое задание/Материалы преподавателя/КОНСПЕКТ_Урок_6.docx
Урок 6. Практическое задание/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_6.pptx
Урок 6. Практическое задание/Урок 6. Коды примеров.rar
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/encodings.xml
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/Exp5.iml
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/inspectionProfiles/Project_Default.xml
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/misc.xml
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/modules.xml
Урок 6. Практическое задание/Урок 6. Коды примеров/.idea/workspace.xml
Урок 6. Практическое задание/Урок 6. Коды примеров/__pycache__/memory_profiler.cpython-37.pyc
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_10.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_11.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_12/task_12_1.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_12/task_12_2.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_13.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_8/task_8_1.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_8/task_8_2.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_8/task_8_3.py
Урок 6. Практическое задание/Урок 6. Коды примеров/optimization/task_9.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_1.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_2.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_3/task_3_1.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_3/task_3_2.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_4.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_5.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_6.py
Урок 6. Практическое задание/Урок 6. Коды примеров/task_7.py
